<table class='table'>
  <tr><%= image_tag user.get_profile_image, size:'100x100' %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>follows</th>
    <th><%= link_to "#{user.followings.size}" ,followings_user_path(user) %></th>
  </tr>
  <tr>
    <th>followers</th>
    <th><%= link_to "#{user.followers.size}" ,followers_user_path(user) %></th>
  </tr>
  <tr>
    <th>
      <% if current_user.id != user.id %>
        <%= render 'relationships/form', user: user %>
      <% end %>
    </th>
    <th>
      <% if current_user.mutual_follower?(user) %>
        <%= render 'message_rooms/button', user: user %>
      <% end %>
    </th>
  </tr>
</table>

<div class='row'>
  <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
    <i class="fas fa-user-cog"></i>
  <% end %>
</div>